@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'aos/dist/aos.css';

body {
  background-color: azure;
}

.bg-section-1 {
  background-image: url(/assets/bg-page-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-section-2 {
  background-image: url(/assets/bg-page-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.flower-4 {
  background-image: url(/assets/flower-4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
